<div class="row">
        <div class="col-md-12 boxFocus color1">

                <div class="col-md-4"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <i class="fa fa-bar-chart-o fa-4"></i> <h1 class="col-md-offset-1"><%= t 'YOUR STARTUPS' %></h1>
                            <%= select_startups() %>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
    </div>
</div>
